// Remove shadow under navbar
.navbar {
  box-shadow: none;
}

// Full width Portfolio filter toolbar
.btn-toolbar .btn-group {
  flex: 1;
}

// Custom section spacing
.home-section {
  padding: 1.5rem 0;
}

.section-heading {
  margin-bottom: 3rem !important;
}

// Center CTA button
.cta-group {
  justify-content: center;
}

.docs-article-container table {
  border-collapse: collapse;
  width: 100%;
}

.docs-article-container table th,
docs-article-container .table td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  /* Adiciona uma borda inferior em todas as células da tabela */
}

/* Adiciona listras nas linhas pares */
.docs-article-container table tr:nth-child(even) {
  background-color: #f2f2f2;
}